@charset "utf-8";
/* CSS Document */
/***
 * css of norm for this project
 * author: lijianmei
 * e-mail: lijianmei@metasota.ai
 * timestamp: 2017-11-15
 */
* {
    border: 0;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    margin: 0 auto;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    border: 0;
}
dl,dt,dd {
    margin: 0;
    padding: 0;
    display: block;
}
a,a:focus {
    text-decoration: none;
    color: #000;
    outline: none;
    blr: expression(this.onFocus=this.blur());
}
a:hover {
    color: #3399FF;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
cite {
    font-style: normal;
}
.outwrap {
	width: 1000px;
	background-color: #fff;
	margin: 0 auto!important;
}
.btn-all {
	background-color: #3399FF!important;
  border-color: #3399FF!important;
  padding: 10px 15px!important;
  width: 55%;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}

.el-main{
  padding: 24px 20px 20px!important;
}

.main-color1{
  color:#1542A2;
}
.main-color2{
  color:#539AFF;
}
.el-message-box__status.el-icon-warning {
  color: #1542A2!important;
}
.el-radio__input.is-checked+.el-radio__label{
  color: #3759CB!important;
}

.el-button--primary{
  background-color: #3759CB!important;
  border-color: #3759CB!important;
  color: #ffffff;
}

.el-dropdown-menu .el-dropdown-menu__item:hover {
  background-color: #3759CB;
  color: white;
i{
  color: white;
}
}

.el-dropdown-menu__item i{
  color: #99A1BF;
}

.el-select-dropdown__item.selected{
  color: #3759CB;
}

.main_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 30px;
  padding-right: 20px;
  border-bottom: 1px solid #f2f4f7;
  /*color: #333333;*/
  color:rgba(51,51,51,1);
  font-size: 16px;
  font-weight:500;
  min-height: 31px;
  padding-bottom: 10px;
}

.main_title .title{
  cursor: pointer;
  font-size:16px;
  font-weight:500;
  color:rgba(51,51,51,1);
  line-height:22px;
  vertical-align: middle;
}
.main_title i {
  font-size: 16px;
  vertical-align: middle;
}

