@font-face {
  font-family: 'system-icon';
  src:  url('system-icon.eot?ki8iq0');
  src:  url('system-icon.eot?ki8iq0#iefix') format('embedded-opentype'),
    url('system-icon.ttf?ki8iq0') format('truetype'),
    url('system-icon.woff?ki8iq0') format('woff'),
    url('system-icon.svg?ki8iq0#system-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*[class^="icon-"], [class*=" icon-"] {*/
.system-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'system-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 16px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniE930:before {
  content: "\e930";
}
.icon-uniE900:before {
  content: "\e900";
}
.icon--:before {
  content: "\e901";
}
.icon-1:before {
  content: "\e902";
}
.icon-2:before {
  content: "\e903";
  color: #ff7373;
}
.icon-3:before {
  content: "\e904";
}
.icon-4 .path1:before {
  content: "\e905";
  color: rgb(230, 147, 80);
}
.icon-4 .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 171, 102);
}
.icon-5:before {
  content: "\e907";
}
.icon-6:before {
  content: "\e908";
}
.icon-7:before {
  content: "\e909";
}
.icon--1:before {
  content: "\e90a";
}
.icon-8:before {
  content: "\e90b";
}
.icon--2:before {
  content: "\e90c";
}
.icon-9:before {
  content: "\e90d";
}
.icon-10:before {
  content: "\e90e";
}
.icon-11:before {
  content: "\e90f";
}
.icon-12:before {
  content: "\e910";
}
.icon-13:before {
  content: "\e911";
}
.icon-14:before {
  content: "\e912";
}
.icon-15:before {
  content: "\e913";
}
.icon-16:before {
  content: "\e914";
}
.icon-32:before {
  content: "\e915";
}
.icon-31:before {
  content: "\e916";
}
.icon-30:before {
  content: "\e917";
}
.icon--5:before {
  content: "\e918";
}
.icon--4:before {
  content: "\e919";
}
.icon-29:before {
  content: "\e91a";
  color: #3759cb;
}
.icon-28:before {
  content: "\e91b";
}
.icon-27:before {
  content: "\e91c";
}
.icon-26:before {
  content: "\e91d";
}
.icon-25:before {
  content: "\e91e";
}
.icon-24:before {
  content: "\e91f";
  color: #7393ff;
}
.icon-23:before {
  content: "\e920";
}
.icon-22:before {
  content: "\e921";
}
.icon-20:before {
  content: "\e922";
}
.icon-21:before {
  content: "\e923";
}
.icon-19:before {
  content: "\e924";
}
.icon-18:before {
  content: "\e925";
}
.icon--3:before {
  content: "\e926";
}
.icon-17:before {
  content: "\e927";
}
.icon--21:before {
  content: "\e928";
}
.icon-icon:before {
  content: "\e929";
}
.icon-33:before {
  content: "\e92a";
}
.icon--6:before {
  content: "\e92b";
}
.icon-34:before {
  content: "\e92c";
}
.icon-35:before {
  content: "\e92d";
}
.icon-36:before {
  content: "\e92e";
}
.icon-37:before {
  content: "\e92f";
}
