<template>
  <div class="fullscreen">
   <el-container class="fullscreen" direction="vertical">
     <el-header style="text-align: right; font-size: 12px;height: 70px">
        <Header ref="header"></Header>
      </el-header>

      <el-container id="" style="overflow: auto">
        <Left ref="left"></Left>
        <el-container style="overflow: auto">
          <el-main>
            <div class="">
              欢迎来到metacloud
            </div>
          </el-main>
        
        </el-container>        
      </el-container>
   </el-container>
  </div>
</template>

<script>
import Header from '@/components/Header'
import Left from '@/components/Left'
import * as types from '@/store/mutation-types'

export default {
  name: 'Index',
  data () {
    return {
    }
  },
  watch: {

  },
  mounted: {

  },
  methods: {

  },
  components: {
    Header,
    Left
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
